<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  
  {{> header}}
</head>
<body>
  <h1>Probando escritura</h1>
  <section class="dashboard">

            <div class="tabs">
                <button class="tab active" data-tab="kpi">KPI</button>
                <button class="tab" data-tab="llistes">Llistats</button>
            </div>

            <div id="kpi" class="tab-content active">
                <h2>KPI</h2>
                <button id="toggleKPI">Compacte / Complet</button>

                <div class="kpi-cards">
                    <div class="card">Vendes d’avui:
                        <ul>
                            {{#each sales}}
                                <li>nombre:{{name}}-
                                    fecha:{{sale_date}}</li>
                            {{/each}}
                            
                        </ul>
                    </div>
                    <div class="card">Vendes del mes: --</div>
                    <div class="card">Comandes avui: --</div>
                    <div class="card">Comandes mes: --</div>
                    <div class="card">Stock baix: --</div>
                </div>
            </div>

            <div id="llistes" class="tab-content">
                <h2>Llistats</h2>
                <button id="toggleColors">Colors ON/OFF</button>

                <h3>Últimes 5 vendes</h3>
                <table>...</table>

                <h3>Top 5 productes més venuts</h3>
                <table>...</table>
            </div>

        </section>
    <script src="scrip.js"></script>
</body>
</html>
