<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {{> header}}
  <link rel="stylesheet" href="index.css">
  <title>Escola programació</title>
</head>
<body>
  {{> menu}}

  

  {{> footer}}
</body>
</html>
