<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  
  <link rel="stylesheet" href="estils.css">
  <title>Escola programació</title>
</head>
<body>
  <h1>Probando escritura</h1>
</body>
</html>
