<link rel="stylesheet" href="estils.css">
       <meta charset="UTF-8">
       <title>Principal</title>
       <section class="encabezado">
                <section class="encabezad1">
                    <span class="material-symbols-outlined"></span>
                    <h1 class="oswald-uniquifier">Botiga</h1>
                     <span class="material-symbols-outlined"></span>
                </section>
                
        </section>